# PostgreSQL Database Connection
# Formato: postgresql://usuario:password@host:port/base_de_datos
DATABASE_URL=postgresql://streaming_user:PASSWORD@dpg-d7aotu6islomc73eqia3g-a:5432/streaming_db_zjuy

# Environment (development | production)
NODE_ENV=production

# Server Port
PORT=3000

# JWT Secret (opcional, usa el del middleware por defecto)
# JWT_SECRET=tu_secret_aqui
